<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
    <link rel="stylesheet" href="/bootstrap.css">
</head>
<body>
<div>
    <form method="post">
        用户名 <input type="text" name="username" id="username" placeholder="用户名">
        密码 <input type="text" name="password" id="password" placeholder="请输入密码">
        <button class="btn btn-success" type="submit">注册</button>
    </form>
</div>
</body>
</html>