<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <form method="post">
        用户名 <input type="text" name="username" id="username" placeholder="用户名">
        密码 <input type="text" name="password" id="password" placeholder="请输入密码">
        <button type="submit">登录</button>
    </form>
</div>
</body>
</html>